{% extends 'base.html' %}

{% block content %}
{% if list_para is None %}

<div class="container">
  <div class="jumbotron my-4">
    <h1> You have already answered all of our questions. </h1>
    <a href="{% url 'leaderboard' %}" class="btn btn-lg btn-info"><i class="fa fa-trophy" aria-hidden="true"></i> See the leaderboard here <i class="fa fa-trophy" aria-hidden="true"></i></a>
  </div>
</div>

{% else %}

<div class="container">
  <div class="jumbotron my-4">
    {%for paragraph in list_para %}
      <p class = "big-box yellow-box">{{paragraph.content|safe}} </p>
      <form class="form" action="" method="post">
          <input type="hidden" name="paragraph_pk" value="{{ paragraph.pk }}">
        {%for question,result in list_question %}

            {% csrf_token %}
            <h4 class="text-info">{{ question.html|safe }}</h4>
            <input type="hidden" name="result" id="result-{{question_pk}}" value="{{ result }}">
            <input type="hidden" name="question_pk" value="{{ question.pk }}">
            {% for choice in question.choices.all %}
              <div class="form-check mx-4">
                <input class="form-check-input" type="radio" name="choice_pk-{{question.pk}}" id="choice-{{ forloop.counter }}" value="{{ choice.pk }}">
                <label class="form-check-label" for="choice-{{ forloop.counter }}">
                  {{ choice.html|safe }}
                </label>

              </div>

            {% endfor %}
            {% if flag == 1  %}
            <p id ="show-answer-{{question.pk}}" class ="hide"> {{ result}}</p>
            {% endif %}
            <div id="holder"></div>
            <button id="{{question.pk}}" class="get-help btn btn-info btn-lg" type="submit" name="help">Help</button>
            {% endfor %}
      {% endfor %}
          <br><br><br>
          <button class="btn btn-info btn-lg" type="submit" name="submit">Submit</button>
    </form>
  </div>
</div>
{% endif %}
{% block javascripts %}
<script>
$('.get-help').click(function () {
    var temp = "<input type='hidden' name='qid' id='qid' value='" + this.id + "'>";
    $("#holder").append(temp);
    $.ajax({
          type: 'POST',
          url : "/test_reading_comprehension/",
          data:{
              qid:$('#qid').val(),
              paragraph_pk:paragraph.pk,
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
          },
          success : function (data) {

          }
        });
});
</script>
{% endblock javascripts %}
{% endblock content %}
